﻿@inherits LayoutComponentBase
@inject AuthenticationStateProvider authentication

<MudThemeProvider />
<MudDialogProvider/>
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="0">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        @if (_userName is not null)
        {
            <MudMenu ActivationEvent="MouseEvent.MouseOver" Dense="true" Direction="Direction.Left" OffsetX="true">
                <ActivatorContent>
                    <MudAvatar Color="Color.Inherit">@_userName.Substring(0, 1).ToUpper()</MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <form action="Identity/Account/Logout" method="post">
                        <MudMenuItem><button type="submit">Odhlásit</button></MudMenuItem>
                    </form>
                </ChildContent>
            </MudMenu>
        }
        else
        {
            <MudMenu ActivationEvent="MouseEvent.MouseOver" Dense="true" Direction="Direction.Left" OffsetX="true">
                <ActivatorContent>
                    <MudAvatar Color="Color.Inherit">?</MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Link="Identity/Account/Login" Target="_top">Přihlásit</MudMenuItem>
                </ChildContent>
            </MudMenu>
        }
        </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h4">Forum</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-16 pt-16">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    string _userName;
    protected override async Task OnInitializedAsync()
    {
        var authState = await authentication.GetAuthenticationStateAsync();
        var user = authState.User;
        _userName = user.Identity is { IsAuthenticated: true } ? user.Identity.Name : null;
    }
    
}