﻿<MudNavMenu Style="height: 100%">
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Domů</MudNavLink>
    <MudNavLink Href="/categories" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Forum">Kategorie</MudNavLink>
    <MudNavLink Href="/chat" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Chat">Chat</MudNavLink>
    <Footer />
</MudNavMenu>