﻿<MudItem xs="12">

    <MudPaper Class="mt-3 p-2 w-75 overflow-hidden" Elevation="5">
        <a href="/categories/articles/@ArticleID">
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1">Vytvořeno: @Created</MudText>
                </MudItem>
                @if (LastUpdate != Created)
                {
                    <MudItem xs="6">
                        <MudText Typo="Typo.subtitle1">Naposledy upraveno: @LastUpdate</MudText>
                    </MudItem>
                }
                <MudItem xs="12">
                    <MudText Typo="Typo.h6">@Name</MudText>
                </MudItem>
                <MudItem xs="12" Class="">
                    <MudText Typo="Typo.body1">@Text</MudText>
                </MudItem>
            </MudGrid>
        </a>
    </MudPaper>
</MudItem>




@code {
    [Parameter]
    public decimal ArticleID { get; set; }
    [Parameter]
    public DateTime Created { get; set; }
    [Parameter]
    public DateTime LastUpdate { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Text { get; set; }
}