﻿@inject CategoryService categoryService
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations


<MudContainer MaxWidth="MaxWidth.Large">
        <EditForm OnValidSubmit="Submit" Model="@newCategory">
            <DataAnnotationsValidator />
            <MudNumericField 
                Min="1"
                Max="99"
                @bind-Value="newCategory.AgeLimit"
                For="@(() => newCategory.AgeLimit)"
                FullWidth 
                T="int" 
                Label="*Věkové omezení (1-99)" 
                Variant="Variant.Outlined" 
                Adornment="Adornment.End" />
            <MudTextField 
                HelperText="Max. 50 znaků" 
                @bind-Value="newCategory.Name"
                For="@(() => newCategory.Name)"
                FullWidth T="string" 
                Label="*Název kategorie" 
                Variant="Variant.Outlined" 
                Adornment="Adornment.End" />
            <MudButton Variant="Variant.Filled" FullWidth ButtonType="ButtonType.Submit" Color="Color.Secondary" Class="float-end mt-2 mb-4 py-3">Přidat kategorii</MudButton>
        </EditForm>
</MudContainer>

@code {

    private NewCategory newCategory { get; set; } = new NewCategory();
    private string createMess = "";

    private async void Submit()
    {
        Category c = new Category()
            {
                Agelimit = newCategory.AgeLimit,
                Name = newCategory.Name
            };

        await categoryService.AddCategory(c);
        createMess = "Vytvořeno!";
        StateHasChanged();
        NavManager.NavigateTo("/");
    }

    class NewCategory
    {
        [Required( ErrorMessage = "Povinné")]
        public int AgeLimit { get; set; }

        [Required ( ErrorMessage = "Povinné")]
        [StringLength(50, ErrorMessage = "Maximální délka názvu je 50 znaků.")]
        public string Name { get; set; }
    }
}
