﻿@using System.ComponentModel
@inject ForumService forumeService
@inject CategoryService categoryService
@inject NavigationManager NavManager

<MudItem xs="12" md="6" lg="4">
	<MudPaper Class="p-2">
			<a href="/categories/@CategoryID">
				<MudText Typo="Typo.h6">@Name</MudText>
				<MudText Typo="Typo.subtitle1">Věkový limit: @Age</MudText>
				<MudText Typo="Typo.subtitle1">Počet vláken v kategorii: @ThreadCount</MudText>
			</a>
		<AuthorizeView Roles="Administrator">
			<Authorized>
				<MudButton Class="my-2" FullWidth Variant="Variant.Filled" Color="Color.Primary" OnClick="Remove">Smazat kategorii</MudButton>
				<MudText>@deleteMess</MudText>
			</Authorized>
		</AuthorizeView>
	</MudPaper>
</MudItem>



@code {
	[Parameter]
	public string Name { get; set; }
	[Parameter]
	public int Age { get; set; }
	[Parameter]
	public int ThreadCount { get; set; }
	[Parameter]
	public decimal CategoryID { get; set; }

	private string deleteMess = "";

	public async void Remove()
	{
		await categoryService.RemoveCategory(CategoryID);
		InvokeAsync(this.StateHasChanged);
		deleteMess = "Smazáno";
		this.StateHasChanged();
		NavManager.NavigateTo("/");

	}
}
