﻿@using PrispevkoveForum.Notifier
@inject ForumService forumService
@inject MessageService messageService
@inject IHttpContextAccessor http
@inject ChatNotifier chatNotifier
@implements IDisposable

<div id="unique_id_scroll_section" class="ma-0" style="height:60vh;overflow: auto;">
    <MudTextField MaxLength="1000" @bind-Value="NewMessageText" Label="Zpráva" HelperText="Urážky, neslušné zprávy a spam nebude tolerován a může vyústit zabanováním." Variant="Variant.Outlined" FullWidth="true" />
    <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="CreateMessage">Odeslat</MudButton>
    <MudPaper Elevation="0" Height="200px" Class="d-flex flex-column justify-space-between py-6">
        <Virtualize Items="Messages" Context="m">
            <MudPaper Width="100%" Class="mud-theme-info rounded-lg mt-1">
                <ChatMessage Autor="@m.Autor" Created="@m.Created" Text="@m.Text"></ChatMessage>
            </MudPaper>
        </Virtualize>
    </MudPaper>
</div>


@code {

    List<Message> Messages = new List<Message>();

    protected override async Task OnInitializedAsync()
    {
        Messages = await messageService.GetMessages();
        chatNotifier.OnMessage += MessageReceived;

    }

    string NewMessageText { get; set; } = "";
    
    public async void CreateMessage()
    {
        Message message = new Message()
        {
            Autor = http.HttpContext.User.Identity.Name,
            ChatId = 1,
            Created = DateTime.Now,
            Text = NewMessageText
        };
        await messageService.AddMessage(message);     //přidání do dbs
        NewMessageText = "";                        //vymazání texfieldu
        chatNotifier.AddMessage(message);

    }

    public void MessageReceived(Message message)
    {
        Messages.Insert(0,message);            //přidání do lokálního listu, aby se to nemuselo tahat z dbs
        InvokeAsync(StateHasChanged);               //oznámení změny
    }

    public void Dispose()
    {
        chatNotifier.OnMessage -= MessageReceived;
    }

}
