﻿
<MudListItem >
<MudItem xs="2">@Autor<br />@Created.ToString("MM\\/dd\\/yy hh:mm")</MudItem>
<MudItem xs="8">@Text</MudItem>
</MudListItem>




@code {
    [Parameter]
    public string Autor { get; set; }
    [Parameter]
    public DateTime Created { get; set; }
    [Parameter]
    public string Text { get; set; }

}
