﻿<MudListItem >
    <MudItem xs="2">@User.Username<br/>@Created.ToString("MM\\/dd\\/yy hh:mm")</MudItem>
    <MudItem xs="8">@Text</MudItem>
</MudListItem>




@code {
    [Parameter]
    public DateTime Created { get; set; }
    [Parameter]
    public string Text { get; set; }

    [Parameter] public User User { get; set; }
}