﻿
<MudPaper Class="d-flex pa-4 position-absolute bottom-0 w-100" Style="background-color:lightgray">
    <MudContainer>
        <MudText>Studentský projekt</MudText>
        <MudText>©Kycelt Vojtěch </MudText>
    </MudContainer>
</MudPaper>
