﻿@inject ForumService forumService
@inject ArticleService articleService
@inject UserService userService
@inject FileService fileService
@inject IHttpContextAccessor http
@using System.IO
@using File = PrispevkoveForum.Models.File
@inject IWebHostEnvironment env

<MudGrid Class="my-5">
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            <MudForm @ref="form">
                <MudTextField MaxLength="100" @bind-Value=@Title Label="Název" Variant="Variant.Outlined"></MudTextField>
                <MudTextField @bind-Value=@Text Label="Text" Variant="Variant.Outlined" Lines="5"></MudTextField>
                <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
                <MudFab Class="mt-1" HtmlTag="label"
                        Color="Color.Primary"
                        Icon="@Icons.Filled.Image"
                        Label="Nahrát soubor"
                        for="fileInput" />
                
                @if (files != null)
                {
                    <MudList>
                        @foreach (var file in files)
                        {
                            <MudListItem Icon="@Icons.Filled.AttachFile" @key="@file">
                                @file.Name <code>@file.Size bytes</code>
                            </MudListItem>
                        }
                    </MudList>
                }

                <MudButton Variant="Variant.Filled" Color="Color.Secondary" FullWidth OnClick="CreateArticle">Vytvořit article</MudButton>
                <MudText>@Created</MudText>
            </MudForm>   
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter]
    public int ThreadID { get; set; }
    MudForm form;
    string Title { get; set; } = "";
    string Text { get; set; } = "";
    public bool SelectedTag { get; set; } = true;
    string Created = "";
    List<Tag> tags = new List<Tag>();
    IList<IBrowserFile> files = new List<IBrowserFile>();
    string filePath = "";

    protected override async Task OnInitializedAsync()
    {
        tags = await forumService.GetTags();
    }

    public async void CreateArticle()
    {
        User user = await userService.GetUserByNameAsync(http.HttpContext.User.Identity.Name);
        Article article = new Article()
        {
            Created = DateTime.Now,
            Lastupdate = DateTime.Now,
            Name = Title,
            Text = Text,
            ThreadId = ThreadID,
            UserId =  user.UserId
        };
        await articleService.CreateArticle(article);
     
        
        if (files.Count > 0)
        {
            foreach (var browserFile in files)
            {
                string type = browserFile.Name.Split(".").Last();
                if (type.Length > 5)
                    type = type.Substring(0, 5);
                PrispevkoveForum.Models.File file = new File()
                {
                    ArticleId = article.ArticleId,
                    Name = browserFile.Name,
                    Type = type
                };
                await fileService.AddFile(file);


                Stream stream = browserFile.OpenReadStream();
                var path = $"{env.WebRootPath}\\files\\{file.Name}";
                FileStream fs = System.IO.File.Create(path);
                await stream.CopyToAsync(fs);
                stream.Close();
                fs.Close();

            }

        }

        Created = "Vytvořeno!";
        StateHasChanged();
    }

    
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        foreach (var file in e.GetMultipleFiles())
        {
            files.Add(file);
        }
   

    }
}
