﻿@inject ForumService forumService
@inject ThreadService threadService
@inject UserService userService
@inject IHttpContextAccessor http
@inject NavigationManager NavManager
@using System.ComponentModel.DataAnnotations


<MudContainer Class="mt-5" MaxWidth="MaxWidth.Large">
	<EditForm OnValidSubmit="Submit" Model="@newThread">
		<DataAnnotationsValidator />
		<MudTextField @bind-Value="newThread.Title"
					  For="@(() => newThread.Title)"
					  FullWidth
					  T="string"
					  Label="*Název"
					  HelperText="Max. 40 znaků"
					  Variant="Variant.Outlined"
					  Adornment="Adornment.End" />
		<MudTextField HelperText="Max. 1000 znaků"
					  @bind-Value="newThread.Description"
					  For="@(() => newThread.Description)"
					  FullWidth T="string"
					  Label="*Popis"
					  Variant="Variant.Outlined"
					  Adornment="Adornment.End" />
		<MudButton Variant="Variant.Filled" FullWidth ButtonType="ButtonType.Submit" Color="Color.Secondary" Class="float-end py-2">Přidat vlákno</MudButton>
	</EditForm>
</MudContainer>
@code {
	[Parameter]
	public int CategoryID { get; set; }
	private NewThread newThread { get; set; } = new NewThread();

	public bool SelectedTag { get; set; } = true;
	List<Tag> tags = new List<Tag>();


	protected override async Task OnInitializedAsync()
	{
		tags = await forumService.GetTags();
	}

	private async void Submit()
	{
		Thread thread = new Thread()
			{
				Name = newThread.Title,
				Description = newThread.Description,
				CategoryId = CategoryID
			};
		await threadService.CreateThread(thread);
		StateHasChanged();
		NavManager.NavigateTo("/categories");
	}

	class NewThread
	{
		[Required(ErrorMessage = "Povinné")]
		[StringLength(40, ErrorMessage = "Maximální délka názvu je 40 znaků.")]
		public string Title { get; set; }

		[Required(ErrorMessage = "Povinné")]
		[StringLength(1000, ErrorMessage = "Maximální délka názvu je 1000 znaků.")]
		public string Description { get; set; } = "";

		public bool SelectedTag { get; set; } = true;
	}
}