﻿<MudItem xs="12" md="6" lg="4">
	<a href="/categories/@CategoryID/@ThreadID">
		<MudPaper Class="mt-5 p-3">
			<MudText Typo="Typo.h6">@Name</MudText>
			<MudText Typo="Typo.subtitle1">Popis: @Desc</MudText>
			<MudText Typo="Typo.subtitle1">Počet článku ve vlákně: @ArticleCount</MudText>
		</MudPaper>
	</a>
</MudItem>

@code {
	[Parameter]
	public string Name { get; set; }
	[Parameter]
	public string Desc { get; set; }
	[Parameter]
	public decimal ThreadID { get; set; }
	[Parameter]
	public decimal CategoryID { get; set; }
	[Parameter]
	public int ArticleCount { get; set; }
}
