﻿@page
@using PrispevkoveForum.Models
@using PrispevkoveForum.Data
@using System.ComponentModel.DataAnnotations
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@inject ForumDbContext _context


<h1>Přihlášení</h1>

<label>@ViewData["error"]</label>

<form class="form" method="post">
    <div class="form-group">
        <label for="email">Email: </label>
        <input maxlength="50" minlength="5" id="email" class="form-control" type="email" name="email" />
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input maxlength="200" minlength="5" id="password" class="form-control" type="password" name="password" />
    </div>
    <br />

    <button class="btn btn-primary" type="submit">Přihlasit se</button>
</form>

@functions {



    public class LoginModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
        [Required]
        public string Password { get; set; }
    }

    public async Task<IActionResult> OnPost([FromForm] LoginModel model)
    {
        if (!ModelState.IsValid)
            return Page();

        var user = await _userManager.FindByEmailAsync(model.Email);
        if (user == null)
        {
            return Page();
        }
        user.Online = true;
        await _context.SaveChangesAsync();

        await _signInManager.SignInAsync(user, true);

        return Redirect("~/");

    }

}
