@page
@using PrispevkoveForum.Models
@using PrispevkoveForum.Data
@using System.ComponentModel.DataAnnotations
@inject UserManager<User> _userManager
@inject SignInManager<User> _signInManager
@inject ForumDbContext _context


<h1>Register</h1>

<label>@ViewData["error"]</label>

<form class="form" method="post">
    <div class="form-group">
        <label for="email">Email: </label>
        <input maxlength="50" minlength="5" id="email" class="form-control" type="email" name="email" />
    </div>

    <div class="form-group">
        <label for="username">Username: </label>
        <input maxlength="20" minlength="5" id="username" class="form-control" type="text" name="username" />
    </div>

    <div class="form-group">
        <label for="password">Password: </label>
        <input maxlength="200" minlength="5" id="password" class="form-control" type="password" name="password" />
    </div>

    <div class="form-group">
        @foreach (var role in _context.Usertypes)
        {
            <input type="radio" name="roleType" value="@role.UsertypeId" /> @role.Type
        }
    </div>

    <br />

    <button class="btn btn-primary" type="submit">Register</button>
</form>

@functions {



    public class RegisterModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
        [Required]
        public string UserName { get; set; }
        [Required]
        public string Password { get; set; }
        [Required]
        public decimal RoleType { get; set; }
    }

    public async Task<IActionResult> OnPost([FromForm] RegisterModel model)
    {
        if (!ModelState.IsValid)
            return Page();

        var check = await _userManager.FindByNameAsync(model.UserName);
        if (check != null)
        {
            return Page();
        }


        var res = await _userManager.CreateAsync(new User
            {
                Email = model.Email,
                Username = model.UserName,
                UsertypeId = model.RoleType,
                ChatId = 1,
                Online = true
            }, model.Password);

        if (res.Succeeded)
        {
            var user = _context.Users.FirstOrDefault(x => x.Email == model.Email);

            var role = _context.Usertypes.FirstOrDefault(x => x.UsertypeId == model.RoleType);
            await _userManager.AddToRoleAsync(user, role.Type);

            await _signInManager.SignInAsync(user, true);

            return Redirect("~/");
        }
        ViewData["error"] = string.Join("\n", res.Errors.Select(x => x.Description));
        return Page();
    }
}
