﻿@attribute [Authorize(Roles = "Administrator, Moderator, User")]
@page "/categories/articles/{ArticleID:int}"
@inject IHttpContextAccessor http
@inject UserService userService
@inject ArticleService articleService
@inject CommentService commentService
@inject NavigationManager NavManager
@inject FileService fileService

<MudText Typo="Typo.h3" Class="mb-3">Článek č. @article.ArticleId</MudText>

<MudPaper Class="w-75 h-50 p-3">
	<MudTextField Disabled=@Edit MaxLength="100" @bind-Value=@article.Name Label="Název" Variant="Variant.Outlined"></MudTextField>
	<MudTextField Class="my-3" Disabled=true @bind-Value=@article.Created Label="Datum vytvoření" Variant="Variant.Outlined"></MudTextField>
	<MudTextField Disabled=true @bind-Value=@article.Lastupdate Label="Datum poslední editace" Variant="Variant.Outlined"></MudTextField>
	<MudTextField Class="my-3" Disabled=@Edit @bind-Value=@article.Text Label="Text" Variant="Variant.Outlined" Lines="5"></MudTextField>

	@if (fileList.Count > 0)
	{
		@foreach (var item in fileList)
		{
			string path = "files\\" + item.Name;
			<MudItem>
				<MudImage Src="@path" Alt="@item.Name" Elevation="25" Class="rounded-lg" />
			</MudItem>
		}
	}

	@if (User != null)
	{


		@if (article.UserId == User.UserId)
		{
			<MudGrid Class="d-flex justify-space-between align-center mt-3">
				<MudItem>
					<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="Remove">Smazat</MudButton>
				</MudItem>
				<MudItem>
					<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="EditChange">@EditLabel</MudButton>
				</MudItem>
			</MudGrid>
		}
		else
		{
			<AuthorizeView Roles="Administrator, Moderator">
				<Authorized>
					<MudGrid Class="d-flex justify-space-between align-center mt-3">
						<MudItem>
							<MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="Remove">Smazat</MudButton>
						</MudItem>
						<MudItem>
							<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="EditChange">@EditLabel</MudButton>
						</MudItem>
					</MudGrid>
				</Authorized>
			</AuthorizeView>
		}

	}
</MudPaper>


<MudPaper Class="w-75 h-50 my-5">
	<div id="unique_id_scroll_section" class="ma-0" style="height: 60vh; overflow: auto;">
		<AuthorizeView Roles="Administrator, Moderator, User">
			<Authorized>
				<MudTextField @bind-Value="NewCommentText" Label="Text zprávy" Variant="Variant.Outlined" FullWidth="true" />
				<MudButton Class="p-2" Variant="Variant.Filled" FullWidth Color="Color.Primary" OnClick="CreateComment">Odeslat</MudButton>
			</Authorized>
		</AuthorizeView>
		<MudPaper Elevation="0" Height="200px" Class="d-flex flex-column justify-space-between py-6">

			<Virtualize Items="comments" Context="c">
				<MudPaper Width="100%" Class="mud-theme-info rounded-lg mt-1">
					<CommentMessage User="@c.User" Created="c.Created" Text="@c.Text"></CommentMessage>
				</MudPaper>
			</Virtualize>

		</MudPaper>

	</div>
</MudPaper>






@code {
	[Parameter]
	public int ArticleID { get; set; }

	List<Comment> comments = new List<Comment>();
	List<File> fileList = new List<File>();
	string NewCommentText { get; set; }
	Article article = new Article();
	public User User { get; set; }
	public bool Edit { get; set; } = true;
	public String EditLabel { get; set; } = "Upravit";

	protected override async Task OnInitializedAsync()
	{
		article = await articleService.GetArticle(ArticleID);
		comments = await commentService.GetComments(ArticleID);
		User = await userService.GetUserByNameAsync(http.HttpContext.User.Identity.Name);
		fileList = await fileService.GetFiles(ArticleID);
	}

	public async void CreateComment()
	{
		Comment comment = new Comment()
			{
				Created = DateTime.Now,
				UserId = User.UserId,
				ArticleId = ArticleID,
				Text = NewCommentText
			};
		comments.Insert(0, comment);
		await commentService.AddComment(comment);
		NewCommentText = "";
		StateHasChanged();
	}

	public async void Remove()
	{
		await articleService.RemoveArticle(ArticleID);
		NavManager.NavigateTo("/");
	}

	public async void EditChange()
	{
		if (!Edit)
		{
			Edit = true;
			EditLabel = "Upravit";
			await articleService.UpdateArticle(article, ArticleID);
		}
		else
		{
			Edit = false;
			EditLabel = "Uložit";
		}
		StateHasChanged();
	}
}
