﻿@attribute [Authorize(Roles = "Administrator, Moderator, User")]
@page "/categories/{CategoryID:int}"
@inject ThreadService threadService
@inject CategoryService categoryService


@* pozdeji nejake useHistory().goBack() misto Hrefu*@

<MudButton Href="/categories" Match="NavLinkMatch.Prefix" Variant="Variant.Filled" StartIcon="@Icons.Filled.ArrowBack" Color="Color.Dark">Zpět</MudButton>

<MudGrid Class="m-3">
    <MudItem xs="12">
        <MudText Typo="Typo.h3">@category.Name</MudText>
    </MudItem>
    <AuthorizeView Roles="Administrator, Moderator">
        <Authorized>
            <MudItem xs="12">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowNewThreadForm">Nové vlákno</MudButton>
                @if (threadForm)
                {
                    <NewThreadForm CategoryID="@CategoryID" />
                }
            </MudItem>
        </Authorized>
    </AuthorizeView>
    <MudItem xs="12">
        @if (threads.Count == 0)
        {
            <MudText Typo="Typo.subtitle1">Tato kategorie bohužel ještě nemá žádná vlákna</MudText>
            <MudText Typo="Typo.body1">Přidejte nějaké vlákno pomocí tlačítka :)</MudText>
        }
        else
        {
            <MudGrid>
                @foreach (var c in threads)
                {
                    <ThreadItem Name="@c.Name" Desc="@c.Description" ThreadID="@c.ThreadId" ArticleCount="@c.Articles.Count" CategoryID="@category.CategoryId" />
                }
            </MudGrid>
        }
    </MudItem>
</MudGrid>




@code {
    [Parameter]
    public int CategoryID { get; set; }
    List<Thread> threads = new List<Thread>();
    List<Category> categories = new List<Category>();
    Category category = new Category();
    bool threadForm = false;
    protected override async Task OnInitializedAsync()
    {
        threads = await threadService.GetThreads(CategoryID);
        categories = await categoryService.GetCategories();
        category = categories.Find(category => category.CategoryId == CategoryID);
    }

    public void ShowNewThreadForm()
    {
        threadForm = !threadForm;
    }
}