﻿@attribute [Authorize(Roles = "Administrator, Moderator, User")]
@page "/categories"
@inject ForumService forumService
@inject CategoryService categoryService
@inject IDialogService DialogService
@inject IJSRuntime JS
@inject NavigationManager NavManager

<PageTitle>Forum - Kategorie</PageTitle>
<MudGrid Class="d-flex justify-space-between align-center ">
	<MudItem>
		<MudText Typo="Typo.h3">Kategorie</MudText>
	</MudItem>
	<MudItem>
		<AuthorizeView Roles="Administrator">
			<Authorized>
				<MudButton OnClick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary" Class="py-3">
					Přidání kategorie
				</MudButton>
			</Authorized>
		</AuthorizeView>
	</MudItem>
</MudGrid>






<MudGrid Class="d-flex justify-space-between align-center  m-3">
	
		<MudItem xs="11">
			<MudTextField Variant="Variant.Outlined" Label="Hledat kategorii" @bind-Value="SearchString" />
		</MudItem>
		<MudItem xs="1">
			<MudIconButton OnClick="Search" Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="Color.Secondary" Size="Size.Medium" Class="p-2" />
		</MudItem>

	@foreach (var c in categories)
	{
		<CategoryItem Name="@c.Name" Age="@c.Agelimit" ThreadCount="@c.Threads.Count" CategoryID="@c.CategoryId" />
	}
</MudGrid>

@code {
	/// <summary>
	/// Načtení categorii z databáze
	/// </summary>
	List<Category> categories = new List<Category>();
	public async void Search()
	{
		await JS.InvokeVoidAsync("findString", SearchString);
		StateHasChanged();
	}
	public string SearchString { get; set; }
	
	protected override async Task OnInitializedAsync()
	{
		categories = await categoryService.GetCategories();
	}
	public void OpenDialog()
	{
		DialogService.Show<CategoryDialog>("Přidání kategorie", new DialogOptions()
			{
				FullWidth = true,
				MaxWidth = MaxWidth.Large,
				CloseButton = true,
				CloseOnEscapeKey = true
			});
	}

}
