﻿@page "/"
@inject ViewService view
<PageTitle>Forum</PageTitle>

<MudText Typo="Typo.h3">Vítejte na stránce našeho fóra.</MudText>
<MudPaper Class="rounded-lg mt-3 pl-3">
	<MudText Typo="Typo.h4" Class="pt-2">Admini</MudText>
	<MudGrid Class="pl-2">
		@foreach (var admin in admins)
		{
			<MudItem xs="12">
				<MudText Typo="Typo.h5">Jméno: <MudElement Style="font-weight:bold;">@admin.Username</MudElement></MudText>
				<MudText Typo="Typo.h5">Role: <MudElement Style="font-weight:bold;">@admin.Email</MudElement></MudText>
			</MudItem>
		}
	</MudGrid>
</MudPaper>
<MudPaper Class="rounded-lg pl-3">
	<MudText Typo="Typo.h4" Class="mt-16">Průměrné věkové omezení u kategorii: <MudElement Style="font-weight:bold;">@avrgAge</MudElement></MudText>
</MudPaper>
<MudPaper Class="overflow-hidden rounded-lg pl-3 pt-3 pb-1 mt-16">
	<MudText Typo="Typo.h4" Class="">Příspěvky s tagem Help</MudText>
	<MudGrid Class="pl-2">
		@foreach (var c in help)
		{
			<MudItem xs="12">
				<MudText Style="font-weight:bold;" Typo="Typo.h5">@c.Name</MudText>
				<MudText Typo="Typo.h6">@c.Text</MudText>
			</MudItem>
		}
	</MudGrid>
</MudPaper>




@code
{
	List<VypisAdministratory> admins = new List<VypisAdministratory>();
	double avrgAge = 0;
	List<HelpArticle> help = new List<HelpArticle>();
	protected override async Task OnInitializedAsync()
	{
		admins = await view.GetAdmins();
		avrgAge = (await view.GetAvrgAge()).PrumernyVek;
		help = await view.GetHelpArticles();
	}
}
