﻿@attribute [Authorize(Roles = "Administrator, Moderator, User")]
@page "/categories/{CategoryID:int}/{ThreadID:int}"
@inject ThreadService threadService
@inject ArticleService articleService
@inject IJSRuntime JS



<MudGrid Class="m-3">
    <MudItem xs="12">
        <MudText Typo="Typo.h3">@thread.Name</MudText>
		@if (thread.Description != null)
		{
			<MudText Typo="Typo.h4">@thread.Description</MudText>
		}
    </MudItem>
    <MudItem xs="12">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowNewArticleForm">Přidat článek</MudButton>
		@if (articleForm)
		{
		    <NewArticleForm ThreadID="@ThreadID"/>
		}
    </MudItem>
	<MudItem xs="12">
		@if (threads.Count == 0)
		{
			<MudText Typo="Typo.subtitle1">Toto vlákno bohužel ještě nemá žádné příspěvky</MudText>
			<MudText Typo="Typo.body1">Přidejte nějaký příspěvek pomocí tlačítka :)</MudText>
		}
		else
		{
			<MudGrid>
				@foreach (var c in articles)
				{
					<ArticleItem Created="@c.Created" LastUpdate="c.Lastupdate" Name="@c.Name" Text="@c.Text" ArticleID="@c.ArticleId" />
				}
			</MudGrid>
		}
	</MudItem>
</MudGrid>


@code {
    [Parameter]
	public int CategoryID { get; set; }
	[Parameter]
	public int ThreadID { get; set; }
	List<Thread> threads = new List<Thread>();
	List<Article> articles = new List<Article>();
	Thread thread = new Thread();

    string NewArticleButton = "Přidat článek";
    bool articleForm = false;

	protected override async Task OnInitializedAsync()
	{
		threads = await threadService.GetThreads(CategoryID);
		articles = await articleService.GetArticles(ThreadID);
		thread = threads.Find(thread => thread.ThreadId == ThreadID);
	}

    public void ShowNewArticleForm()
    {
        articleForm = !articleForm;
    }
}
